/Drivers/CMSIS/*
/Drivers/STM32F0xx_HAL_Driver/*
/EWARM/Scanner/Obj/*
/EWARM/settings/*
/Middlewares/ST/STM32_BlueNRG/Interface/*
/Middlewares/ST/STM32_BlueNRG/SimpleBlueNRG_HCI_OLD/*
/Middlewares/ST/STM32_BlueNRG/SimpleBlueNRG_HCI/hci/*
/Middlewares/ST/STM32_BlueNRG/SimpleBlueNRG_HCI/utils/*
/EWARM/Scanner/*
/EWARM/*
!EWARM/scanner.ewp
/BleScanner.dsp
/BleScanner.sln
/BleScanner.vcproj
/BleScanner.vcproj.vspscc
/Drivers/BSP/STM32F0xx_BlueNRG/stm32l1xx_STEVAL_IDB002V1_bluenrg.h
/Drivers/BSP/STM32F0xx_BlueNRG/stm32l1xx_STEVAL_IDB003V1_bluenrg.h
/Drivers/BSP/STM32F0xx_BlueNRG/stm32l1xx_STEVAL_IDB00xV1_bluenrg.h

/Middlewares/ST/STM32_BlueNRG/SimpleBlueNRG_HCI
